.event-details-body {
    margin: 0;
    overflow-x: hidden;
}
.event-details-header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 40px 100px;
}
.event-details-back{
    position: absolute;
    left: 100px;
}
.event-details-backbtn,.qr-generationbtn{
    background-color: #137FC3;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: white;
    border: 0;
}
.event-details-event-name-date{
    text-align: center;
}
.qr-generationbtn:hover{
    transform: translateY(-3px);
    transition: all 0.3s ease;
}
.event-details-qr{
    position: absolute;
    right: 100px;
}
.event-detail-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    gap: 100px;
    box-sizing: border-box;
}
.event-detail-scanner {
    min-height: 400px;
    box-sizing: border-box;    
    flex: 1 1 500px; 
    min-width: 300px; 
    max-width: 600px; 
}
.event-detail-attendees {
    position: relative;
    flex: 1 1 500px;
    height: 60vh;
    background-color: #CDE1EF;
    box-sizing: border-box;
    padding-top: 1%;
    border-radius: 50px;
}
#scanner {
    width: 100%;
    height: auto; 
}

.event-detail-qrscanner{
    text-align: left;
    margin-left: 15px;
    margin-top:10px;
    margin-bottom: -15px;
}
.event-detail-tbl{
    padding-top: 10px;
}
.table-event-details{
    background-color: violet;
    border-radius: 10px;
    width: 35vw;
}
.attendee-data-names-table{
    background-color: white;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 1), 0 2px 3px rgba(0, 0, 0, 1);
    border-radius: 100px;
    width: 100%;
    padding:8px;
}
.attendee-data{
    margin-left: 50px;
    border-radius: 100px;
    width: 100%;
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.attendee-name{width:40%;}
.attendee-time{width: 30%;}
.attendee-status{width:30%}

.attendee-namedata{width:40%;}
.attendee-timedata{width: 30%;}
.attendee-statusdata{width:30%}


.event-details-edit {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.event-details-editbtn{
    padding: 6px;
    background-color: red;
    border-radius: 50px;

}


.event-detail-statsbg{
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
    padding-top: 60px;
}
.event-detail-stats{
    padding: 20px;
}
.add{
    padding:10px;
    background-color: #CDE1EF;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 70vw;
}
.event-detail-stats-header{
    font-size: xx-large;
    height: 10vh;
}
.event-detail-stats-body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 100px;
    box-sizing: border-box;
}
.attendee-piechart-data{
    margin-top: 20px;
}
.attendee-piechart-datatbl{
    width: 30vw;
}
.piechart-data-table{
    padding: 10px;
    width: 30vw;
    text-align: center;
}
.piechart-data-table td , .piechart-data-table th{
    padding: 5px;
}
.flip-box-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
}

.event-detail-scanner.flipped .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  top: 0;
  left: 0;
}

.flip-box-front {
    z-index: 2;
    background-color: #137FC3;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    border-radius: 50px;
}
.event-detail-btnscanner{
    padding-top: 30px;
}
.custom-btn-scanner{
    background-color: #CDE1EF;
    color: #137FC3;
    border: none;
    padding: 8px;
    border-radius: 10px;
    font-size: medium;
}
.qreventname{
    margin-top: 40px;
}

.flip-box-back {
    background-color: #CDE1EF;
    color: #137FC3;
    transform: rotateY(180deg);
    padding: 20px;
    border-radius: 50px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    overflow: hidden; 
    min-height: 400px;
}
.event-detail-btncamera {
    margin-top: 20px;
}
#scanner-container {
    display: none;
    width: 100%; 
    height: auto;
}
.custom-btn-scannerbck{
    background-color: #137FC3;
    color: #CDE1EF;
    border: none;
    padding: 8px;
    border-radius: 10px;
}


.piechart-data{
    width: 100%;
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.piechart-namedata{width:40%;}
.piechart-timedata{width: 30%;}
.piechart-statusdata{width:30%}

.piechart-data-names-table{
    background-color: white;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 1), 0 2px 3px rgba(0, 0, 0, 1);
    border-radius: 100px;
    width: 100%;
    padding:8px;
}
.piechart-name{width:40%;}
.piechart-time{width: 30%;}
.piechart-status{width:30%}