{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="event_list">
    <div class="allevents-title">
        <div class="allevents"><h1>EVENTS</h1></div>
        <div class="btn-create-event"><a class="btn-create-event-text" href="{% url 'eqrApp:create_event' %}">
            <i class="fas fa-plus"></i>Create New Event
        </a></div>
    </div>
    <div class="events-box">
            <div class="table-responsive">
                <table class="table-events">
                    <thead>
                        <tr>
                            <td class="data-names">
                                <table class="data-names-table">
                                    <tr>
                                        <th class="eventname"> Event Name</th>
                                        <th class="eventdate">Date</th>
                                        <th class="eventcreated">Time</th>
                                        <th class="eventactions">Action</th>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                        <tr>
                            <td><div class="data-rows">
                                <div class="eventname-link">{{ event.name }}</div>
                                <div class="eventdate-link">{{ event.date|date:"M d, Y" }}</div>
                                <div class="eventcreated-link">
                                    {% if event.start_time and event.end_time %}
                                    {{ event.start_time|time:"H:i" }} - {{ event.end_time|time:"H:i" }}
                                    {% else %}
                                    Not specified
                                    {% endif %}
                                </div>
                                <div class="eventactions-link">
                                    <a href="{% url 'eqrApp:event_detail' event.pk %}" class="eventactions-btn">
                                        <i class="fas fa-eye"></i> View
                                    </a>
                                    <!-- <a href="#" class="eventactions-btn delete-btn" data-event-id="{{ event.pk }}">
                                        <i class="fas fa-trash-alt"></i> Delete
                                    </a> -->
                                </div>
                            </div></td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="4" class="data-rows-else"><center>
                                No further events found. <a href="{% url 'eqrApp:create_event' %}"> Create New.</a></center>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>
{% endblock %}