<!DOCTYPE html>
<html>
    <head>
        <link href="design.css" rel="stylesheet">
        <title>Attendee</title>
    </head>
    <body>
        <div class="whole">
            <div class="top" style="height: 100px;">
                <img class="design" src="img/white-logo-snaptrack.png" height="65px" width="300px">
                <P style="margin-right: -700PX;"><a href="" style="color: white;">REPORT</a></P>
                <P style="margin-right: 80px;"><a href="" style="color: white;">QR</a></P>
            </div>
            <div class="body">
                <div class="upper-body">
                    <center><table style="margin-top: 50px; margin-bottom: 20px;">
                        <tr>
                            <td><table style="margin: 15px;">
                                <tr><td style="background-color: blueviolet;"><table>
                                    <tr>
                                        <td style="background-color: transparent;"> HELLO</td>
                                    </tr>
                                </table></td></tr>
                            </table></td>
                        </tr>
                    </table></center>
                </div>
            </div>
        </div>
    </body>
</html>