<!DOCTYPE html>
<html>
    <head>
        <link href="design.css" rel="stylesheet">
        <title>SnapTrack</title>
    </head>
    <body style="background-color: #3BA8E9;">
        <div class="whole">
            <div class="top"></div>
            <div class="body">
                <div class="left-body">
                    <center style="margin-top: 200px;"><img src="img/logo.png" width="200px" height="200px"></center>
                    <center><img src="img/snaptrack.png" width="357" height="51"></center>
                </div>
                <div class="right-body">
                    <center style="margin-left: 280px; margin-top: 250px;"><table style="border-spacing: 10px;">
                        <tr>
                            <td><center><input type=number name=txt_userID style="border: none;background-color: transparent; height: 30px; size: 14;" required></center></td>
                        </tr>
                        <tr>
                            <td><center><input type=text name=txt_userPass style="border: none;background-color: transparent; height: 30px; size: 14;" required></center></td>
                        </tr>
                        <tr>
                            <td><center>
                                <select name =cb_type style="border: none;background-color: transparent;">
                                    <option value="facilitator">FACILITATOR</option>
                                    <option value="attendee">ATTENDEE</option>
                                </select>
                            </center></td>
                        </tr>
                    </table></center>
                    <center style="margin-left: 280px;"><table>
                        <tr>
                            <td style="background-color: #3BA8E9; text-align: center; width: 200px;">LOGIN</td>
                        </tr>
                    </table></center>
                </div>
            </div>
        </div>
    </body>
</html>